# CockroachDB temp artifacts
heap_profiler/
cockroach-data/
*.pprof
goroutine_dump/
inflight_trace_dump/
pprof_dump/
executiontrace_dump/

# Test binaries
uriparser_test
go_uri_validator

# Python
__pycache__/
